:root .sidebar-pane {
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: var(--sl-color-bg);
}

:root .sidebar-pane::-webkit-scrollbar {
  display: none;
}

@media (min-width: 50rem) and (max-width: 71.999rem) {
  :root {
    --sl-sidebar-width: 17rem;
  }
}

@media (min-width: 72rem) {
  :root .right-sidebar-container {
    width: var(--sl-right-sidebar-width);
    min-width: var(--sl-right-sidebar-width);
    max-width: var(--sl-right-sidebar-width);
    flex: 0 0 var(--sl-right-sidebar-width);
  }

  :root .right-sidebar {
    width: var(--sl-right-sidebar-width);
    max-width: var(--sl-right-sidebar-width);
  }

  :root[data-has-sidebar][data-has-toc] .main-pane {
    width: calc(100% - var(--sl-sidebar-width));
    max-width: calc(100% - var(--sl-sidebar-width));
    flex: 1 1 calc(100% - var(--sl-sidebar-width));
    --sl-content-margin-inline: 0;
  }

  :root .content-panel .sl-container {
    max-width: 50rem;
    width: 100%;
    margin-inline: auto;
  }

  :root .sl-markdown-content {
    max-width: none;
    width: 100%;
  }
}
